<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AM_Menu">
	<resultMap id="T_Menu" type="Menu">
		<id column="ID" property="id" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="NAMESPACE" property="nameSpace" jdbcType="VARCHAR" />
		<result column="ACTION" property="action" jdbcType="VARCHAR" />
		<result column="URL" property="url" jdbcType="VARCHAR" />
		<result column="I18N_KEY" property="i18nKey" jdbcType="VARCHAR" />
		<result column="ENABLED" property="enabled" jdbcType="VARCHAR" />
		<result column="PARENTID" property="parentid" javaType="java.lang.Integer" />
		<result column="REORDER" property="reorder" javaType="java.lang.Integer" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, NAME, nameSpace,ACTION, URL, I18N_KEY, ENABLED, PARENTID, REORDER
	</sql>

	<sql id="where">
		<where>
			<if test="id != null">
				id = #{id} 
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="nameSpace != null">
				nameSpace=#{nameSpace,jdbcType=VARCHAR}
			</if>
			<if test="action != null">
				action=#{action,jdbcType=VARCHAR}
			</if>
			<if test="url != null">
				url=#{url,jdbcType=VARCHAR}
			</if>
			<if test="i18nKey != null">
				i18nKey=#{i18nKey,jdbcType=VARCHAR}
			</if>
			<if test="1 == 1">
				enabled=0
			</if>
			<if test="parentid != null">
				parentid=#{parentid}
			</if>
		</where>
	</sql>
	
	<select id="roleToMenu" parameterType="long" resultMap="T_Menu">
		select 
			id,
			NAME, 
			NAMESPACE,
			ACTION, 
			URL, 
			I18N_KEY, 
			ENABLED, 
			PARENTID, 
			REORDER
		from sys_role_to_menu rm left join sys_menu m on rm.menu_id=m.id
		where role_id = #{id} and ENABLED=0 ORDER BY REORDER
	</select>

	<select id="select" resultMap="T_Menu" parameterType="Menu">
		select
		<include refid="Base_Column_List" />
		from SYS_MENU
		<include refid="where" />
	</select>

	<select id="list" resultMap="T_Menu" parameterType="Menu">
		select
		<include refid="Base_Column_List" />
		from SYS_MENU
		<include refid="where" />
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<select id="count" resultType="Integer" parameterType="Menu">
		select
			count(id)
		from SYS_MENU
		<include refid="where" />
	</select>

	<delete id="delete" parameterType="Menu">
		delete from SYS_MENU
		where ID = #{id}
	</delete>
	<insert id="insert" parameterType="Menu">
		<selectKey keyProperty="id" resultType="Integer" order="BEFORE">
			select
			SEQUENCE_SYS_MENU.nextval from dual
		</selectKey>
		insert into SYS_MENU
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="nameSpace != null">
				NAMESPACE,
			</if>
			<if test="action != null">
				ACTION,
			</if>
			<if test="url != null">
				URL,
			</if>
			<if test="i18nKey != null">
				I18N_KEY,
			</if>
			<if test="enabled != null">
				ENABLED,
			</if>
			<if test="parentid != null">
				PARENTID,
			</if>
			<if test="reorder != null">
				REORDER,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="nameSpace != null">
				#{nameSpace,jdbcType=VARCHAR},
			</if>
			<if test="action != null">
				#{action,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="i18nKey != null">
				#{i18nKey,jdbcType=VARCHAR},
			</if>
			<if test="enabled != null">
				#{enabled,jdbcType=VARCHAR},
			</if>
			<if test="parentid != null">
				#{parentid},
			</if>
			<if test="reorder != null">
				#{reorder},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="Menu">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Jul 10 
			12:31:01 CST 2014. -->
		update SYS_MENU
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="nameSpace != null">
				NAMESPACE = #{nameSpace,jdbcType=VARCHAR},
			</if>
			<if test="action != null">
				ACTION = #{action,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				URL = #{url,jdbcType=VARCHAR},
			</if>
			<if test="i18nKey != null">
				I18N_KEY = #{i18nKey,jdbcType=VARCHAR},
			</if>
			<if test="enabled != null">
				ENABLED = #{enabled,jdbcType=VARCHAR},
			</if>
			<if test="parentid != null">
				PARENTID = #{parentid},
			</if>
			<if test="reorder != null">
				REORDER = #{reorder},
			</if>
		</set>
		where ID = #{id}
	</update>

</mapper>