<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SYS_BASE">
	<select id="SEQUENCE_POSITION" resultType="Long">
		select
		SEQUENCE_POSITION.nextval from dual
	</select>

	<select id="SEQUENCE_STORAGE_PRIMARY" resultType="Long">
		select
		SEQUENCE_T_Storage_Primary.nextval from dual
	</select>

	<select id="SEQUENCE_LIBRARY_PRIMARY" resultType="Long">
		select
		SEQUENCE_t_library_Primary.nextval from dual
	</select>
	
	<select id="SEQUENCE_SALES_ORDER_PRIMARY" resultType="Long">
		select
		SEQUENCE_T_SALES_ORDER_PRIMARY.nextval from dual
	</select>
	
</mapper>