<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="M_Procurement_Primary">
	<resultMap id="T_Procurement_Primary" type="ProcurementDemandPrimary">
		<id column="ID" property="id" />
		<result column="createDate" property="createDate" jdbcType="VARCHAR" />
		<result column="limitDate" property="limitDate" jdbcType="VARCHAR" />
		<result column="UserID" property="userID" />
		<result column="order_id" property="orderID" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" />
		<result column="Remarks" property="remarks" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID,
		createDate ,
		limitDate ,
		UserID ,
		order_id ,
		STATUS ,
		Remarks
	</sql>
	<sql id="where">
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="orderID != null">
				and order_id = #{orderID}
			</if>
			<if test="userID != null">
				and UserID = #{userID}
			</if>
			<if test="status != null">
				and STATUS = #{status}
			</if>
		</where>
	</sql>

	<select id="select" resultMap="T_Procurement_Primary"
		parameterType="ProcurementDemandPrimary">
		select
		<include refid="Base_Column_List" />
		from T_Procurement_Demand_PRIMARY
		<include refid="where" />
	</select>

	<select id="list" resultMap="T_Procurement_Primary"
		parameterType="ProcurementDemandPrimary">

		select
		<include refid="Base_Column_List" />
		from T_Procurement_Demand_PRIMARY
		<include refid="where" />
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<select id="count" resultType="Integer" parameterType="ProcurementDemandPrimary">
		select
		count(id)
		from T_Procurement_Demand_PRIMARY
		<include refid="where" />
	</select>

	<insert id="insert" parameterType="ProcurementDemandPrimary">
	    <selectKey keyProperty="id" resultType="Integer" order="BEFORE">
			select
			SEQUENCE_T_Procurement_PRIMARY.nextval from dual
		</selectKey>
		insert into T_Procurement_Demand_PRIMARY
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="createDate != null">
				createDate ,
			</if>
			<if test="limitDate != null">
				limitDate ,
			</if>
			<if test="userID != null">
				UserID ,
			</if>
			<if test="orderID != null">
				order_id ,
			</if>
			<if test="status != null">
				STATUS ,
			</if>
			<if test="remarks != null">
				Remarks
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=VARCHAR},
			</if>
			<if test="limitDate != null">
				#{limitDate,jdbcType=VARCHAR},
			</if>
			<if test="userID != null">
				#{userID} ,
			</if>
			<if test="orderID != null">
				#{order_id,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			
		</trim>
	</insert>
	<update id="update" parameterType="ProcurementDemandPrimary">
		update T_Procurement_Demand_PRIMARY
		<set>
			<if test="createDate != null">
				createDate = #{createDate,jdbcType=VARCHAR},
			</if>
			<if test="limitDate != null">
				limitDate = #{limitDate,jdbcType=VARCHAR},
			</if>
			<if test="userID != null">
				UserID = #{userID},
			</if>
			<if test="orderID != null">
				order_id = #{orderID,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status},
			</if>
			<if test="remarks != null">
				Remarks = #{remarks,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id}
	</update>
</mapper>