<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="M_Process">
	<resultMap id="T_Process" type="ProcessBean">
		<id column="ID" property="id" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="Reference_price" property="referencePrice" jdbcType="FLOAT" />
		<result column="Processing_cycle" property="processingCycle" jdbcType="FLOAT"/>
		<result column="Remarks" property="remarks" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, 
		NAME, 
		Reference_price,
		Processing_cycle,
		Remarks
	</sql>
	<sql id="where">
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="name != null">
				and name = #{name,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>
	
	<select id="select" resultMap="T_Process" parameterType="ProcessBean">
		select
		<include refid="Base_Column_List" />
		from T_Process
		<include refid="where" />
	</select>
	
	<select id="list" resultMap="T_Process" parameterType="ProcessBean">

		select
		<include refid="Base_Column_List" />
		from T_Process
		<include refid="where" />
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="count" resultType="Integer" parameterType="ProcessBean">
		select
		count(id)
		from T_Process
		<include refid="where" />
	</select>

	<insert id="insert" parameterType="ProcessBean" >
		<selectKey keyProperty="id" resultType="Integer" order="BEFORE">
			select
			SEQUENCE_T_Process.nextval from dual
		</selectKey>
		insert into T_Process
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="referencePrice != null">
				Reference_price,
			</if>
			<if test="processingCycle != null">
				Processing_cycle,
			</if>
			<if test="remarks != null">
				Remarks,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="referencePrice != null">
				#{referencePrice,jdbcType=FLOAT},
			</if>
			<if test="processingCycle != null">
				#{processingCycle,jdbcType=FLOAT},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="ProcessBean">
		update T_Process
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="referencePrice != null">
				Reference_price = #{referencePrice,jdbcType=FLOAT},
			</if>
			<if test="processingCycle != null">
				Processing_cycle = #{processingCycle,jdbcType=FLOAT},
			</if>
			<if test="remarks != null">
				Remarks = #{remarks,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id}
	</update>
</mapper>